footer.footer
  div.footer__top.footer-top
    a.logo.footer__logo
      img(src="" alt="Логотип интернет-магазина Девайс.")

  div.footer__main.footer-main
    address.footer-main__contacts Санкт-Петербург, набережная реки Карповки, 5, литера П.
    div.footer-main__services
      a(href="#") Доставка
      a(href="#") Гарантия
      a(href="#") Контакты
    div.footer-main__phone
      a(href="tel:+78128121212") Тел.: +7 (812) 812-12-12

  div.footer__bottom.footer-bottom
    div.footer-bottom__decor
    ul.footer-bottom__social.social
      li.social__item
        a.social__link(href="#")
          span.visually-hidden Фейсбук
      li.social__item
        a.social__link(href="#")
          span.visually-hidden Инстаграм
      li.social__item
        a.social__link(href="#")
          span.visually-hidden Твиттер
    a(href="https://htmlacademy.ru")
      img(src=require('../../images/htmlacademy.png') width="115" height="33" alt="Логотип htmlacademy.")
