header.header.container
  div.header__top.header-top
    case namePage
        when 'Home': a.header__logo.logo: img(src=require('../../images/logo.svg') width="145" height="36" alt="Логотип интернет-магазина Девайс.")
        when 'Catalog': a.header__logo.logo(href="../index.html"): img(src=require('../../images/logo.svg') width="145" height="36" alt="Логотип интернет-магазина Девайс.")

  div.header__main.header-main
    form.form-search.header__form-search(action="https://echo.htmlacademy.ru" method="post")
      input.form-search__input(type="text" name="search" placeholder="Текст поиска")
      button.form-search__btn(type="submit") Найти
    div.header-main__user
      span.header-main__icon
      case namePage
        when 'Home': +auth-list("Войти")
        when 'Catalog': +auth-list("Коля Петухов", "Выйти")
    div.header-main__menu
      a.header-main__link(href="#") Сравнить
      a.header-main__link.header-main__link--icon(href="#") Корзина
        span 2

  div.header__nav.nav
    div.nav__catalog
      button.nav__btn.nav__btn--open.font-raleway Каталог товаров
      ul.nav__list
        li.nav__item
          a(href="#") Виртуальная реальность
        li.nav__item
          a(href="pages/catalog.html") Моноподы для селфи
        li.nav__item
          a(href="#") Экшен-камеры
        li.nav__item
          a(href="#") Фитнес-браслеты
        li.nav__item
          a(href="#") Умные часы
        li.nav__item
          a(href="#") Квадрокоптеры
    div.nav__services.font-raleway
      a(href="#") Доставка
      a(href="#") Гарантия
      a(href="#") Контакты
