section.popup-cart
  ul.popup-cart__list.cart-list
    li.cart-list__item
      a.cart-list__link(href="#") Product 1
    li.cart-list__item
      a.cart-list__link(href="#") Product 2
  div.popup-cart__total
    p.popup-cart__number Товаров:&nbsp;
      span 2
    p.popup-cart__amount Cумма:&nbsp;
      span 2000 &#8381;
  a.popup-cart__btn.button(href="#") Открыть корзину
