// Pagination
.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  background-color: $lightgrey;

  &__item {
    display: flex;
    align-items: center;
  }

  &__item--margin-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &__link:hover {
    opacity: 1;
  }

  &__link:focus {
    color: rgba(68 68 68 / 30%);
    opacity: 1;
    outline: 2px solid $violet;
  }

  &__link--prev,
  &__link--next {
    display: block;
    width: 127px;
    padding: 25px;
    letter-spacing: 0.2em;
    color: $black;
    opacity: 1;
    text-transform: uppercase;
  }

  &__link--next {
    width: 141px;
  }

  &__link--prev:hover,
  &__link--next:hover {
    background-color: $grey;
  }

  &__link--prev:focus,
  &__link--next:focus {
    color: $black;
  }

  &__link--prev:active,
  &__link--next:active {
    color: rgba(0 0 0 / 30%);
  }

  &__link--disabled {
    display: none;
  }
}

.numbers-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    width: 40px;
    padding: 10px;
    color: $dark;
    opacity: 0.3;
    text-align: center;
  }

  &__link--current {
    opacity: 0.6;
  }

  &__link:hover {
    opacity: 1;
  }

  &__link:focus {
    color: rgba(68 68 68 / 30%);
    opacity: 1;
    outline: 2px solid $violet;
  }
}
