// catalog
.catalog-header {
  .container {
    padding-top: 36px;
    padding-left: 60px;
    margin-bottom: 34px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }

  &__breadcrumbs {
    display: flex;
    justify-content: space-between;
    width: 429px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.breadcrumbs {
  &__link {
    position: relative;
    line-height: 19px;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -22px;
    width: 4px;
    height: 7px;
    opacity: 0.2;
    background: url('Images/icons/icon-nav-arrow.svg') no-repeat;
  }

  &__link--current::after {
    display: none;
  }

  &__link:hover {
    opacity: 0.6;
  }

  &__link:focus {
    outline: 2px solid $violet;
  }
}

.catalog {
  background-color: $light;

  .container {
    display: flex;
  }

  &__filter {
    width: 320px;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &__products {
    width: 840px;
    padding-bottom: 61px;
    background-color: $white;
  }
}

.filter {
  &__heading {
    margin: 0;
    margin-bottom: 58px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__form legend {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__divider {
    width: 200px;
    margin-bottom: 12px;
    border: 1px solid #000000;
  }

  &__price,
  &__color,
  &__bluetooth {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__price {
    margin-bottom: 56px;
  }

  &__color {
    margin-bottom: 33px;
  }

  &__bluetooth {
    margin-bottom: 15px;
  }

  &__input {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.3;
  }

  &__color-list,
  &__bluetooth-list {
    padding: 0;
    margin: 0;
    list-style: none;

    label {
      margin-left: 20px;
      line-height: 19px;
    }
  }

  &__color-item {
    margin-bottom: 17px;
  }

  &__bluetooth-item {
    margin-bottom: 20px;
  }

  &__color-item:last-child {
    margin-bottom: 0;
  }

  &__btn-wrapper {
    position: relative;
  }

  &__btn {
    position: relative;
    width: 220px;
    padding: 10px 5px 9px 10px;
    letter-spacing: 0.2em;
    z-index: 1;
  }
}

.products {
  &__sort {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
    padding-right: 40px;
    background-color: $light;

    span {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  &__sort-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__sort-item {
    a {
      display: block;
      width: 159px;
      position: relative;
      font-size: 18px;
    }

    a::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 11px;
      width: 9px;
      height: 6px;
      background: url('Images/icons/icon-arrow-down-slim-alt.svg') no-repeat;
    }

    a:hover {
    opacity: 0.6;
    }

    a:focus {
      outline: 2px solid $violet;
    }
  }

  &__sort-btn {
    width: 30px;
    padding: 0;
    opacity: 0.2;
  }

  &__sort-btn:hover {
    opacity: 0.5;
  }

  &__sort-btn:focus {
    opacity: 1;
    outline: 2px solid $violet;

    svg {
      opacity: 0.2;
    }
  }

  &__sort-btn:active {
    opacity: 1;

    svg {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
  }

  &__item {
    width: 360px;
  }

  &__button {
    width: 760px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border: 3px solid $border-grey;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
  }
}

.product {
  position: relative;
  margin-bottom: 44px;

  img {
    margin-bottom: 27px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 222px;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__price {
    padding-top: 1px;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.2em;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  padding: 25px;
  margin-right: 40px;
  margin-left: 40px;
  list-style: none;
  background-color: $lightgrey;

  &__item:first-child {
    margin-right: 155px;
  }

  &__item:last-child {
    margin-right: -4px;
    margin-left: 152px;
  }

  &__link {
    color: $dark;
    opacity: 0.3;
  }

  &__link--prev,
  &__link--next {
    letter-spacing: 0.2em;
    color: $black;
    opacity: 1;
    text-transform: uppercase;
  }
}
