// catalog
.catalog-header {
  &__title {
    font-size: 50px;
    line-height: 50px;
  }

  &__breadcrumbs {
    display: flex;
    padding: 0;
    list-style: none;
  }
}

.breadcrumbs {
  &__link {
    position: relative;
    margin-right: 40px;
    line-height: 19px;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -20px;
    width: 4px;
    height: 7px;
    opacity: 0.2;
    background: url('Images/icons/icon-nav-arrow.svg') no-repeat;
  }

  &__link--current::after {
    display: none;
  }
}

.catalog {
  display: flex;

  &__filter {
    width: 320px;
  }

  &__products {
    width: 840px;
  }
}

.filter {
  &__heading {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__form legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__divider {
    width: 200px;
    border: 2px solid #000000;
  }

  &__price,
  &__color,
  &__bluetooth {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__input {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.3;
  }

  &__color-list,
  &__bluetooth-list {
    padding: 0;
    list-style: none;

    label {
      margin-left: 20px;
      line-height: 19px;
    }
  }

  &__color-item,
  &__bluetooth-item {
    margin-bottom: 10px;
  }

  &__btn {
    letter-spacing: 0.2em;
  }
}

.products {
  &__sort {
    display: flex;

    span {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2em;
    }
  }

  &__sort-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__sort-item {
    a {
      position: relative;
      padding-right: 30px;
      font-size: 18px;
      line-height: 30px;
    }

    a::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 9px;
      height: 6px;
      background: url('Images/icons/icon-arrow-down-slim-alt.svg') no-repeat;
    }
  }

  &__sort-btn {
    opacity: 0.2;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 360px;
    margin-left: 40px;
  }

  &__button {
    width: 760px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 3px solid $border-grey;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
  }
}

.product {
  position: relative;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 225px;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__price {
    font-size: 18px;
    line-height: 21px;
    color: $dark;
  }

  &__btn {
    letter-spacing: 0.2em;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  padding: 25px;
  list-style: none;
  background-color: $lightgrey;

  &__link {
    color: $dark;
    opacity: 0.3;
  }

  &__link--prev,
  &__link--next {
    letter-spacing: 0.2em;
    color: $black;
    opacity: 1;
    text-transform: uppercase;
  }
}
