// common
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background: $white;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

// .visually-hidden:not(:focus):not(:active),
// input[type="checkbox"].visually-hidden,
// input[type="radio"].visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   -webkit-clip-path: inset(100%);
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.font-raleway {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
}

.new::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url('Images/new.svg') no-repeat;
}
