// footer
.footer {
  background-color: $dark;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 46px;
  }

  &__logo {
    margin-bottom: 35px;
  }
}

.footer-left {
  width: 239px;
  margin-right: 112px;
  padding-left: 1px;

  &__contacts {
    margin-bottom: 56px;
    font-style: normal;
    color: $white;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 7px;
    background-color: $yellow-hover;
  }
}

.footer-middle {
  width: 444px;
  padding-top: 75px;

// Services list
  &__services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 32px;
    margin-bottom: 62px;

    a {
      position: relative;
      letter-spacing: 0.2em;
      color: $white;
      text-transform: uppercase;
    }

    a:hover {
      color: $yellow-hover;
    }

    a:hover::after {
      content: "";
      position: absolute;
      right: 2px;
      bottom: -4px;
      left: 0;
      height: 2px;
      background-color: $yellow-hover;
    }

    a:active {
      opacity: 0.3;
    }

    a:focus {
      outline: 2px solid $violet;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

.footer-right {
  width: 176px;
  margin-left: auto;
  padding-top: 78px;

  &__phone {
    margin-bottom: 63px;

    a {
      display: block;
      margin-bottom: 5px;
      text-decoration-line: underline;
      color: $white;
      letter-spacing: 0.15px;
    }

    a:hover {
      color: $yellow-hover;
    }

    a:active {
      opacity: 0.3;
    }

    a:focus {
      outline: 2px solid $violet;
    }
  }

  &__link {
    margin-left: 61px;
  }

  &__link:hover {
    svg {
      fill: $white;
    }
  }

  &__link:active {
    svg {
      opacity: 0.3;
    }
  }

  &__link:focus {
    outline: 2px solid $violet;
  }
}

// Social list
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 14px;
  margin: 0;
  list-style: none;

  &__item {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:hover {
    background-color: $yellow-hover;
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link:focus {
    border-radius: 0;
    outline: 2px solid $violet;
  }

  &__link--fb {
    background: url('Images/icons/icon-facebook.svg') no-repeat center center;
  }

  &__link--insta {
    background: url('Images/icons/icon-instagram.svg') no-repeat center center;
  }

  &__link--twitter {
    background: url('Images/icons/icon-twitter.svg') no-repeat center center;
  }
}
