// header
.header {
  padding: 17px 60px 0 60px;
  background-image: linear-gradient(to bottom, $white 40px, $yellow 40px);

  &__top {
    margin-bottom: 30px;
  }

  &__main {
    display: flex;
  }
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

.header-main {
  &__user {
    display: flex;
  }

  &__auth {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 30px;
  }

  &__menu {
    margin-left: auto;
    padding-top: 5px;
  }

  &__link {
    margin-right: 36px;
    font-size: 18px;
    line-height: 30px;
    color: $black;
  }

  &__link:last-child {
    position: relative;
    margin-right: 0;
  }

  &__link--icon-sort::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 21px;
    margin-right: 12px;
    background: url('Images/icons/icon-sort.svg') no-repeat center center;
    vertical-align: text-bottom;
  }

  &__link--icon-cart::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 21px;
    margin-right: 12px;
    background: url('Images/icons/icon-cart.svg') no-repeat center center;
    vertical-align: text-bottom;
  }

  span {
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 3px;
    left: -16px;
    padding-top: 2px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
  }
}

.auth-list {
  &__item:nth-child(1)::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 12px;
    background: url('Images/icons/icon-login.svg') no-repeat center center;
  }

  &__item:nth-child(2) a {
    opacity: 0.3;
  }
}

.form-search {
  position: relative;
  margin-right: 26px;

  &__input {
    width: 359px;
    padding: 10px;
    padding-left: 48px;
    line-height: 20px;
    border: 2px solid $black;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    background-color: $yellow;
  }

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 16px;
    width: 16px;
    height: 16px;
    background: url('Images/icons/icon-search.svg') no-repeat;
  }

  &__input::placeholder {
    color: $black;
  }

  &__btn {
    width: 160px;
    padding: 10px;
    line-height: 20px;
    border: 2px solid $black;
    border-radius: 0px 50px 50px 0px;
    background-color: $yellow;
    text-transform: none;
  }
}

.nav {
  &__btn {
    width: 293px;
    height: 50px;
  }

  &__btn--open {
    background: url('Images/icons/icon-plus-ellipse.svg') no-repeat right bottom;
  }

  &__btn--close {
    background: url('Images/icons/icon-minus-ellipse.svg') no-repeat right bottom;
  }

  &__list {
    padding: 0;
    line-height: 18px;
    list-style: none;
  }

  &__item a {
    color: $black;
  }

  &__services a {
    text-transform: uppercase;
  }
}
