// categories
.categories {
  margin-bottom: 82px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-right: 40px;
    background-image: linear-gradient(to bottom, $yellow 160px, $white 160px);
  }

  &__item:nth-child(6n) {
    margin-right: 0;
  }

  &__item:hover {
    background-image: linear-gradient(to bottom, $yellow-hover 160px, $white 160px);
  }

  &__item:active {
    opacity: 0.3;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 160px;
    height: 253px;
    padding-left: 1px;
    z-index: 2;
  }

  &__link:focus {
    outline: 2px solid $violet;
  }

  &__link {
    span {
      align-self: start;
    }
  }

  &__link--vr-mb {
    img {
      margin-bottom: 90px;
    }
  }

  &__link--mono-selfy-mb {
    img {
      margin-bottom: 48px;
    }
  }

  &__link--action-cam-mb {
    img {
      margin-bottom: 92px;
    }
  }

  &__link--fitness-bracelet-mb {
    img {
      margin-bottom: 93px;
    }
  }

  &__link--smart-watch-mb {
    img {
      margin-bottom: 91px;
    }
  }

  &__link--quadrocopter-mb {
    img {
      margin-bottom: 91px;
    }
  }

  &__title {
    width: 160px;
    margin-top: -60px;
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}
