// services
.services {
  background-image: linear-gradient(to bottom, $white 142px, $light 100px);
  padding-bottom: 72px;
  margin-bottom: 70px;

  &__tabs {
    display: flex;
  }
}

.tabs {
  &__panel {
    width: 287px;
    margin-right: 116px;
    padding-top: 64px;
    padding-bottom: 65px;
    border-right: 7px solid $black;
  }

  &__switch-wrapper {
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-bottom: 35px;
  }

  &__switch-wrapper:last-child {
    margin-bottom: 0;
  }

  &__switch {
    display: block;
    width: 160px;
    padding: 0;
    letter-spacing: 0.2em;
  }

  &__switch--active {
    color: $yellow;
    background-color: $black;
  }

  &__wrapper {
    width: 729px;
    padding-top: 62px;
  }

  &__item {
    padding-top: 12px;
    padding-bottom: 5px;

    h3 {
      margin: 0;
      margin-bottom: 32px;
      font-size: 50px;
      line-height: 50px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 30px;
      color: $dark;
    }
  }

  &__item--delivery {
    background: url('Images/services/slide-delivery.svg') no-repeat 94.2% 15px;
  }

  &__item--warranty {
    background: url('Images/services/slide-warranty.svg') no-repeat right top;
  }

  &__item--credit {
    background: url('Images/services/slide-credit.svg') no-repeat right 3px;
  }
}
