// slider
.slider {
  position: relative;
  margin-bottom: 70px;

  &__item {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, $yellow 150px, $white 150px);
    margin-top: -36px;
  }

  &__left {
    img {
      display: block;
    }
  }

  &__right {
    width: 560px;
    padding-top: 42px;
  }

  &__number {
    margin: 0;
    padding-top: 41px;
    margin-bottom: -41px;
    padding-right: 49px;
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    color: $white;
    text-align: right;
  }

  &__slogan {
    margin-bottom: 28px;
    font-size: 50px;
    line-height: 50px;
  }

  &__desc {
    margin-bottom: 51px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.06px;
    color: $dark;
  }

  &__button-wrapper {
    position: relative;
    margin-bottom: 48px;
  }

  &__button-wrapper a {
    position: relative;
    padding-left: 39px;
    padding-right: 36px;
    letter-spacing: 0.2em;
    z-index: 1;
  }

  &__features {
    border-collapse: collapse;
  }

  &__features td {
    padding-bottom: 11px;
    font-size: 36px;
    line-height: 30px;
  }

  &__features th {
    font-weight: 400;
    line-height: 30px;
    color: $dark;
  }

  &__features--table-first-slide td:nth-child(2),
  &__features--table-first-slide th:nth-child(2) {
    padding-left: 20px;
  }

  &__features--table-second-slide th {
    text-align: left;
  }

  &__features--table-third-slide td:nth-child(n+2),
  &__features--table-third-slide th:nth-child(n+2) {
    padding-left: 39px;
  }

  &__features--table-third-slide th:nth-child(3) {
    padding-left: 40px;
    text-align: left;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 211px;
    width: 530px;
    margin-left: 30px;
  }
}

// Slider arrows
.slider__arrow {
  width: 20px;
  height: 60px;
  background: url('Images/icons/icon-slider-arrow.svg') no-repeat center center;

  &--next {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid $violet;
  }

  &:disabled {
    opacity: 0.1;
  }
}

// Slider dots
.slider-dots {
  display: flex;
  position: absolute;
  bottom: 173px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__btn {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 2px solid $black;
    border-radius: 50%;
  }

  &__btn:last-child {
    margin-right: 0;
  }

  &__btn--active {
    background: $black;
  }

  &__btn:hover {
    opacity: 0.6;
  }

  &__btn:active {
    opacity: 0.3;
  }

  &__btn:focus {
    outline: 2px solid $violet;
  }

  &__btn:disabled {
    opacity: 0.1;
  }
}
