// common
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  background: $white;
}

img {
  max-width: 100%;
  height: auto;
}

// .visually-hidden:not(:focus):not(:active),
// input[type="checkbox"].visually-hidden,
// input[type="radio"].visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   -webkit-clip-path: inset(100%);
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

// header
.header {
  width: 1160px;
  padding: 0 60px 0 60px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, $white 40px, $yellow 40px);

  &__top {
    padding-top: 17px;
  }

  &__main {
    display: flex;
  }
}

.header-main {
  &__user {
    display: flex;
  }

  &__icon {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url('Images/icon-login.svg');
  }

  &__link--icon::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 21px;
    background: url('Images/icon-cart.svg') no-repeat center center;
  }
}

.auth-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

// index main
.tabs {
  &__switch--active {
    color: $yellow;
    background-color: $black;
  }

  &__item--delivery {
    background: url('Images/slide-delivery.png') no-repeat right bottom;
  }

  &__item--warranty {
    background: url('Images/slide-warranty.png') no-repeat right bottom;
  }

  &__item--credit {
    background: url('Images/slide-credit.png') no-repeat right bottom;
  }
}

.delivery-order__link {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  background-color: $light;
}

.delivery-order__link::before {
  content: "";
  width: 125px;
  height: 100px;
  background: url('Images/icon-delivery.svg') no-repeat center center;
  background-color: $yellow;
}

.delivery-order__link::after {
  content: "";
  width: 40px;
  height: 40px;
  position: relative;
  top: 30px;
  right: 42px;
  background: url('Images/icon-i.svg') no-repeat center center;
  background-color: $grey;
  opacity: 50%;
  border-radius: 50%;
}

.about-us {
  &::before {
    content: "";
    display: inline-block;
    width: 84px;
    height: 7px;
    background: url('Images/icon-divider.svg') no-repeat center center;
  }

  &__list {
    list-style: none;
  }
}

.contacts {
  &::before {
    content: "";
    display: inline-block;
    width: 84px;
    height: 7px;
    background: url('Images/icon-divider.svg') no-repeat center center;
  }
}

.subscribe {
  &__message::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('Images/icon-tick-green.svg') no-repeat center center;
  }
}

// index popup
.cart-list {
  list-style: none;
}

// index modal
.form-order__info {
  display: inline-block;
  position: relative;
  padding: 5px 12px;
  border-radius: 50%;
  background: $yellow;

  &:hover::before {
    position: absolute;
    content: attr(data-info);
    min-width: 200px;
    padding: 15px;
    background-color: $black;
    transform: translate(-10%);
    bottom: calc(100% + 10px);
    color: $white;
  }

  &:hover::after {
    position: absolute;
    content: " ";
    bottom: calc(100% + 6px);
    left: 10px;
    border: 5px solid $black;
    transform: rotate(45deg);
  }
}

// catalog main
.products__list {
  list-style: none;
}

// footer
.footer-bottom::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background: url('Images/icon-divider-yellow.svg') no-repeat center center;
}

.social {
  display: flex;
  list-style: none;

  &__link--fb {
    background: url('Images/icon-facebook.svg') no-repeat center center;
  }

  &__link--insta {
    background: url('Images/icon-instagram.svg') no-repeat center center;
  }

  &__link--twitter {
    background: url('Images/icon-twitter.svg') no-repeat center center;
  }
}
