extends base

block variables
  - var title = 'Каталог'
  - var linkScripts = '../catalog.js'
  - var namePage = 'Catalog'

block content
  main.main
    h2.main__title Моноподы для селфи

block modal
  include includes/popup-cart
