extends base

block variables
  - var title = 'Каталог'
  - var linkScripts = '../catalog.js'
  - var namePage = 'Catalog'

block content
  main.main.main-container
    header.main__catalog-header.catalog-header
      div.container
        h2.catalog-header__title.font-raleway Моноподы для селфи
        ul.catalog-header__breadcrumbs.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link(href="../index.html") Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href="catalog.html") Каталог товаров
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--current Моноподы для селфи

    div.main__catalog.catalog
      div.container
        section.catalog__filter.filter
          h2.filter__heading.font-raleway Фильтр:
          form.filter__form(action="https://echo.htmlacademy.ru" method="get")
            div.filter__divider
            fieldset.filter__price
              legend Стоимость
              div.filter__range
                span.visually-hidden Шкала цен с двумя ползунками
                div.filter__bar(style="width: 119px;")
                  div.filter__control-wrapper.filter__control-wrapper--min
                    button.filter__control.filter__control--min(type="button" tabindex="0")
                      span.visually-hidden Изменить минимальную цену
                    label.filter__label от
                      input.filter__input(type="number" name="price_lower" value="0")
                      span.focus
                  div.filter__control-wrapper.filter__control-wrapper--max
                    button.filter__control.filter__control--max(type="button" tabindex="0")
                      span.visually-hidden Изменить максимальную цену
                    label.filter__label до
                      input.filter__input(type="number" name="price_upper" value="5000")
                      span.focus
            div.filter__divider
            fieldset.filter__color
              legend Цвет
              ul.filter__list.list
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="checkbox" name="black" checked)
                    span.list__mark
                    span.list__name Черный
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="checkbox" name="white" checked)
                    span.list__mark
                    span.list__name Белый
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="checkbox" name="blue")
                    span.list__mark
                    span.list__name Синий
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="checkbox" name="red")
                    span.list__mark
                    span.list__name Красный
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="checkbox" name="pink")
                    span.list__mark
                    span.list__name Розовый
            div.filter__divider
            fieldset.filter__bluetooth
              legend Bluetooth
              ul.filter__list.list
                li.list__item.list__item--mb
                  label.list__label
                    input.visually-hidden.list__input(type="radio" name="bluetooth" value="yes" checked)
                    span.list__mark
                    span.list__name Есть
                li.list__item
                  label.list__label
                    input.visually-hidden.list__input(type="radio" name="bluetooth" value="no")
                    span.list__mark
                    span.list__name Нет
            div.filter__btn-wrapper
              button.filter__btn.button.font-raleway(type="submit") Показать
              span.button-background

        section.catalog__products.products
          h2.visually-hidden Список товаров
          div.products__sort
            span.font-raleway Сортировка:
            ul.products__sort-list
              li.products__sort-item.active
                a(href="#") Популярные
            div.products__sort-arrows
              button.products__sort-btn(type="button")
                span.visually-hidden По возрастанию
                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" aria-hidden="true" focusable="false" role="img")
                  path(fill="#000000" d="M5.5 0L0 10h11z")
              button.products__sort-btn(type="button")
                span.visually-hidden По убыванию
                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" aria-hidden="true" focusable="false" role="img")
                  path(fill="#000000" d="M5.5 10L0 0h11")
          ul.products__list
            li.products__item.product.new(tabindex="0")
              div.product__img-wrapper
                img(src=require('../images/catalog/product-1.jpg') width="360" height="380" alt="Карточка товара Любительская селфи-палка.")
                div.product__btn-wrapper
                  a.button.product__btn.product__btn--detailed.font-raleway(href="#") Подробнее
                  span.button-background
              div.product__info
                h3.product__title Любительская <br> селфи-палка
                span.product__price 500 &#8381;
            li.products__item.product(tabindex="0")
              div.product__img-wrapper
                img(src=require('../images/catalog/product-2.jpg') width="360" height="380" alt="Карточка товара Профессиональная селфи-палка.")
                div.product__btn-wrapper
                  a.button.product__btn.product__btn--detailed.font-raleway(href="#") Подробнее
                  span.button-background
              div.product__info
                h3.product__title Профессиональная селфи-палка
                span.product__price 1&nbsp;500 &#8381;
            li.products__item.product(tabindex="0")
              div.product__img-wrapper
                img(src=require('../images/catalog/product-3.jpg') width="360" height="380" alt="Карточка товара Непотопляемая селфи-палка.")
                div.product__btn-wrapper
                  a.button.product__btn.product__btn--detailed.font-raleway(href="#") Подробнее
                  span.button-background
              div.product__info
                h3.product__title Непотопляемая <br> селфи-палка
                span.product__price 2&nbsp;500 &#8381;
            li.products__item.product.new(tabindex="0")
              div.product__img-wrapper
                img(src=require('../images/catalog/product-4.jpg') width="360" height="380" alt="Карточка товара Селфи-палка «Следуй за мной».")
                div.product__btn-wrapper
                  a.button.product__btn.product__btn--detailed.font-raleway(href="#") Подробнее
                  span.button-background
              div.product__info
                h3.product__title Селфи-палка «Следуй за мной»
                span.product__price 1&nbsp;500 &#8381;
          button.products__button.font-raleway(type="button") Загрузить ещё
          ul.catalog__pagination.pagination
            li.pagination__item
              a.pagination__link.pagination__link--prev.font-raleway(href="#") Назад
            li.pagination__item.pagination__item--margin-auto
              ul.pagination__numbers-page.numbers-page
                li.numbers-page__item
                  a.numbers-page__link.numbers-page__link--current 1
                li.numbers-page__item
                  a.numbers-page__link(href="#") 2
                li.numbers-page__item
                  a.numbers-page__link(href="#") 3
                li.numbers-page__item
                  a.numbers-page__link ...
                li.numbers-page__item
                  a.numbers-page__link(href="#") 15
            li.pagination__item
              a.pagination__link.pagination__link--next.font-raleway(href="#") Вперёд

block modal
  include includes/popup-cart
