doctype html
html
  head
    title Device
  body
    header(class="header")
      div(class="header-top header__top")
        a(class="logo header__logo")
          img(src="" alt="Логотип интернет-магазина Девайс")
      div(class="header-main header__main")
        form(class="form-search header__form-search" action="https://echo.htmlacademy.ru" method="post")
          input(class="form-search__input" type="text" name="search" placeholder="Текст поиска")
          button(class="form-search__btn"  type="submit")
            span(class="visually-hidden") Искать
      div(class="nav header__nav")
        h1 Device test
    main(class="main")
    footer(class="footer")
