extends base

block variables
  - var title = 'Home'
  - var linkScripts = '../index.js'

block content
  main.main
    h1 Device
    section.slider.main__slider
      h2 Slider
    section.categories.main__categories
      h2 Categories
    section.services.main__services
      h2 Services
    section.delivery-order.main__delivery-order
      h2 Delivery order
    section.info.main__info
      h2 Info Contacts
    section.subscribe.main__subscribe
      h2 Subscribe to the newsletter
