extends base

block variables
  - var title = 'Home'
  - var linkScripts = '../index.js'

block content
  main(class="main")
    h1 Device test

//- doctype html
//- html
//-   head
//-     meta(charset="UTF-8")
//-     title Device
//-     link(rel="icon" href=require('Images/favicon.ico'))
//-     link(href=require('../styles/all.scss') rel='stylesheet')
//-   body
//-     include includes/header
//-     main(class="main")
//-       h1 Device test
//-     include includes/footer
//-     script(src=require('../index.js'))
