// basic
$white: #ffffff;
$black: #000000;
$lightblack: rgba(0 0 0 / 30%);
$dark: #444444;
$grey: #dcdcdc;
$lightgrey: #ebebeb;
$light: #f0f0f0;

// additional
$yellow: #ffe17f;
$yellow-hover: #ffc700;
$violet: #af4fff;
$border-grey: #e5e5e5;
$button-border-grey: #c4c4c4;

// status
$error: #ff3d3d;
$warning: #fd912e;
$success: #08af00;
