// modal
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-close {
  display: none;
}

.modal-delivery {
  width: 920px;
  margin: auto;
  padding: 63px 70px;
  background-color: $white;
  border: 10px solid $black;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;

    h2 {
      margin: 0;
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__close {
    position: relative;
    width: 28px;
    height: 28px;
    padding: 0;
    margin-top: 9px;
  }

  &__close::before,
  &__close::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -3px;
    width: 33px;
    height: 3px;
    background-color: $black;
  }

  &__close::before {
    transform: rotate(45deg);
  }

  &__close::after {
    transform: rotate(-45deg);
  }

  &__close:focus {
    outline: 2px solid $violet;
  }
}

.form-order {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 37px;

    div {
      margin: 0;
      margin-bottom: 41px;
      position: relative;
    }

    div:nth-child(3),
    div:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__name,
  &__mail {
    padding-bottom: 21px;
  }

  &__name::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 58px;
    right: 20px;
    background: url('Images/icons/icon-login-light.svg') no-repeat center center;
  }

  &__mail::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 58px;
    right: 20px;
    background: url('Images/icons/icon-letter.svg') no-repeat center center;
  }

  label {
    display: block;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__input {
    width: 360px;
    padding: 18px;
    border: 2px solid transparent;
  }

  &__input,
  &__message {
    font-size: 16px;
    line-height: 20px;
    background-color: $light;
  }

  &__message {
    width: 540px;
    padding: 20px;
    border: none;
    resize: none;
  }

  &__input::placeholder,
  &__message::placeholder {
    opacity: 0.3;
  }

  &__input:hover,
  &__message:hover {
    background-color: $grey;
  }

  &__input:focus,
  &__message:focus {
    outline: 2px solid $violet;
  }

  &__input:disabled,
  &__message:disabled {
    opacity: 0.3;
  }

// Info popup
  &__info {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 34px;
    padding: 3px 10px;
    border-radius: 50%;
    background: $yellow;
    font-weight: 600;
  }

  &__info-popup {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: -35px;
    min-width: 200px;
    padding: 15px;
    background-color: $black;
    color: $white;
    z-index: 10;
    font-weight: 400;
  }

  &__info-popup::after {
    content: "";
    position: absolute;
    top: -4px;
    right: 42px;
    border: 5px solid $black;
    transform: rotate(45deg);
  }

  &__info:focus {
    outline: 2px solid $violet;
  }

  &__info:hover &__info-popup,
  &__info:focus-within &__info-popup {
    display: block;
  }

// Plus-minus buttons
  &__number {
    width: 180px;
  }

  &__number-wrapper {
    display: flex;
    justify-content: center;
    border: 2px solid $light;
  }

  &__input--number {
    width: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }

  &__input--number:hover {
    background-color: $light;
  }

  &__number-minus,
  &__number-plus {
    position: relative;
    width: 58px;
    height: 56px;
    background-color: $light;
  }

  &__number-minus::before,
  &__number-plus::before,
  &__number-plus::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 20px;
    width: 16px;
    height: 2px;
    background-color: $black;
  }

  &__number-plus::before,
  &__number-plus::after {
    left: 22px;
  }

  &__number-plus::after {
    top: 27px;
    transform: rotate(90deg);
  }

  &__number-minus:hover,
  &__number-plus:hover {
    background-color: $lightgrey;
  }

  &__number-minus:focus,
  &__number-plus:focus {
    outline: 2px solid $violet;
  }

  &__number-minus:active::before,
  &__number-plus:active::before,
  &__number-plus:active::after {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__number-minus:disabled,
  &__number-plus:disabled {
    opacity: 0.3;
  }

// Submit button
  &__submit {
    position: relative;
  }

  &__btn {
    position: relative;
    width: 200px;
    padding-left: 10px;
    letter-spacing: 0.2em;
    z-index: 1;
  }

  &__submit > .button-background {
    width: 200px;
  }

// Error style
  &__error-border {
    border: 2px solid $error;
  }

  &__error-message {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: $error;
  }
}
