// modal
.modal-delivery {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  width: 920px;
  margin: auto;
  padding: 63px 70px;
  background-color: $white;
  border: 10px solid $black;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  // transform: translate(-50%,-50%);
  // z-index: 20;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &__title h2 {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
  }

  &__close {
    position: relative;
    width: 26px;
    height: 26px;
    padding: 0;
    margin-top: 9px;
  }

  &__close::before,
  &__close::after {
    content: "";
    position: absolute;
    right: -4px;
    width: 33px;
    height: 3px;
    background-color: $black;
  }

  &__close::before {
    transform: rotate(45deg);
  }

  &__close::after {
    transform: rotate(-45deg);
  }
}

.form-order {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__wrapper p {
    margin: 0;
    margin-bottom: 41px;
    position: relative;
  }

  &__name,
  &__mail {
    padding-bottom: 21px;
  }

  &__name::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 58px;
    right: 20px;
    background: url('Images/icons/icon-login.svg') no-repeat center center;
    opacity: 0.25;
  }

  &__mail::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 58px;
    right: 20px;
    background: url('Images/icons/icon-letter.svg') no-repeat center center;
    opacity: 0.25;
  }

  &__number {
    width: 180px;
  }

  label {
    display: block;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  &__input {
    width: 360px;
    padding: 18px;
    border: 2px solid transparent;
  }

  &__input,
  &__message {
    font-size: 16px;
    line-height: 20px;
    background-color: $light;
  }

  &__message {
    width: 540px;
    padding: 20px;
    border: none;
    resize: none;
  }

  &__input::placeholder,
  &__message::placeholder {
    opacity: 0.3;
  }

  &__input--border {
    border: 2px solid $error;
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: $error;
  }

  &__input--number {
    width: 60px;
    text-align: center;
  }

  &__info {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: 34px;
    padding: 3px 10px;
    border-radius: 50%;
    background: $yellow;
    font-weight: 600;

    &:hover::before {
      content: attr(data-info);
      position: absolute;
      top: calc(100% + 10px);
      right: -55px;
      min-width: 200px;
      padding: 15px;
      background-color: $black;
      color: $white;
      transform: translate(-10%);
      z-index: 10;
    }

    &:hover::after {
      content: " ";
      position: absolute;
      top: calc(100% + 6px);
      left: 7px;
      border: 5px solid $black;
      transform: rotate(45deg);
    }
  }

  &__number-minus,
  &__number-plus {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    padding-top: 9px;
    background-color: $light;
  }

  &__number-minus::before,
  &__number-plus::before,
  &__number-plus::after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    margin-left: 22px;
    margin-top: -6px;
    background-color: $black;
  }

  &__number-plus::after {
    position: absolute;
    top: 35px;
    transform: rotate(90deg);
  }

  &__btn {
    width: 200px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 8px;
    letter-spacing: 0.2em;
  }
}
