// popup
.popup-cart {
  display: none;
  grid-template-columns: 82px 208px 30px;
  position: absolute;
  top: 41px;
  width: 320px;
  background-color: $black;
  color: $white;
  z-index: 10;

  &::before {
    position: absolute;
    content: " ";
    top: -4px;
    left: calc(50% - 5px);
    border: 5px solid $black;
    transform: rotate(45deg);
  }

  &--open {
    display: grid;
  }

  &__list {
    grid-column: 1 / -1;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 11px 20px 13px;

    p {
      margin: 0;
    }
  }

  &__btn {
    display: block;
    margin: 20px;
    padding: 14px;
    padding-left: 17px;
    grid-column: 1 / -1;
    letter-spacing: 0.2em;
    color: $black;
    background-color: $white;
    text-align: center;
  }

  &__btn:hover {
    background-color: $yellow;
  }

  &__btn:active {
    color: rgba(0 0 0 / 30%);
    background-color: $yellow;
  }
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    padding: 20px;
    margin-bottom: 1px;
  }

  &__link {
    display: flex;
    margin-right: 50px;
    color: $white;

    img {
      margin-right: 23px;
    }
  }

  &__link:hover {
    opacity: 0.6;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link:focus {
    outline: 2px solid $violet;
  }

  &__delete {
    position: relative;
    width: 13px;
    height: 13px;
    margin-top: -1px;
    margin-right: -1px;
  }

  &__delete:hover {
    opacity: 0.6;
  }

  &__delete:active {
    opacity: 0.3;
  }

  &__delete:focus {
    outline: 2px solid $violet;
  }

  &__delete::before,
  &__delete::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 12px;
    height: 1px;
    background-color: $white;
  }

  &__delete::before {
    transform: rotate(45deg);
  }

  &__delete::after {
    transform: rotate(-45deg);
  }
}
